{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        ul{
            list-style-type: none;
            
        }
        body{
            background-color: #ffff;
            font-family: sans-serif;
        }
        footer{
          font-size: small;
        }
    </style>
  </head>
  <body>
    <section  class="py-4" style="background-color: rgb(14, 14, 56);">
        <div class="container">
            <nav class="navbar navbar-expand-lg" >
                <div class="container-fluid">
                  <a class="navbar-brand" href="#"><img src="{% static 'giitafrica.png' %}" width="100rem" alt=""></a>

                  <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="color: white;"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active text-light" href="#">About us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active text-light">Services</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active text-light">Contact</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active text-light" href="{% url 'register' %}">Sign up</a>
                      </li>
                    </ul>
                    <button class="btn btn-sm text-light" id="btn" style="background-color: #E05300;">LOGIN</button>
                  </div>
                </div>
              </nav>
              <div class="row">
                <div class="col-sm-6 mt-5">
                     <div class="h5" style="color: #E05300;">We Are The Next Generation of The Advertising World</div>
                     <div style="font-size: small;" class="text-light">
                      "To be globally acclaimed as an innovative organization working towards fulfilling the information technology needs of our clients."
                    </div>
                </div>
                <div class="col-sm-6">
    
                </div>
              </div>
        </div>
    </section>
    {% block message %}
    {% endblock message %}
    <script>
        var btn = document.getElementById("btn")
        btn.addEventListener("click", function(){
            window.location = "login"
        })
    </script>
    <footer class="py-5" style="background-color: #E05300; color: white">
        <section>
           <div class="container">
              <div class="row">
                <div class="col-sm-4 mb-3">
                       <div class="h4">GIIT AFRICA</div>
                       <div class="mt-2">
                        GIIT is a global leader delivering a wide range of management and technical training. We are a trusted training delivery partner of 350+ corporate clients and universities across the globe with 50,000+ professionals trained across various courses. GIIT helps individuals and organizations by providing courses based on practical knowledge and theoretical concepts. Our industry reputation speaks for itself.
                       </div>
                </div>
                <div class="col-sm-4 mb-3">
                      <div class="row">
                        <div class="col">
                            <div class="h5" >Company</div>
                            <ul>
                                <li><a href="" style="text-decoration: none;"  class="text-light">Giit</a></li>
                                <li><a href="" style="text-decoration: none;"  class="text-light">Giit Africa</a></li>
                                <li><a href="" style="text-decoration: none;"  class="text-light">Giit Foundation</a></li>
                                <li><a href="" style="text-decoration: none;"  class="text-light">Blog</a></li>   
                            </ul>
                        </div>
                        <div class="col">
                            <div class="h5" >Quick Link</div>
                            <ul>
                                <li><a href="" style="text-decoration: none;"  class="text-light">About us</a></li>
                                <li><a href="" style="text-decoration: none;"  class="text-light">Contact</a></li>
                                <li><a href="" style="text-decoration: none;"  class="text-light">Home</a></li>
                                <li><a href="" style="text-decoration: none;"  class="text-light">Team</a></li>   
                            </ul>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col">
                            <div class="h5">Explore</div>
                            <ul>
                                <li><a href="" style="text-decoration: none;"  class="text-light">Tech</a></li>
                                <li><a href="" style="text-decoration: none;"  class="text-light">Entertainment</a></li>
                                <li><a href="" style="text-decoration: none;"  class="text-light">Education</a></li>
                                <li><a href="" style="text-decoration: none;"  class="text-light">Sport</a></li>   
                            </ul>
                        </div>
                        <div class="col">
                            <div class="h5">Account</div>
                            <ul>
                                <li><a href="" style="text-decoration: none;"  class="text-light">Sign up</a></li>
                                <li><a href="" style="text-decoration: none;"  class="text-light">Login</a></li>
                                <li><a href="" style="text-decoration: none;"  class="text-light">Reset Password</a></li>
                                <li><a href="" style="text-decoration: none;"  class="text-light">Home</a></li>   
                            </ul>
                        </div>
                      </div>
                </div>
              </div>
              <div class="text-center">Copyright &copy 2022. All Rights Reserved. | Giit Mail.</div>
              <div class="text-center">
                <a href=""><i class="bi bi-facebook text-light"></i></a>
                <a href=""><i class="bi bi-twitter text-light"></i></a>
                <a href=""><i class="bi bi-instagram text-light"></i></a>
                <a href=""><i class="bi bi-youtube text-light"></i></a>
                <a href=""><i class="bi bi-linkedin text-light"></i></a>
              </div>
           </div>
        </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>