{% extends 'dashboard_base.html' %}
{% load static %}
{% block title %}
 Profile
{% endblock title %}
{% block message %}
<section class="py-5">
  <div class="container">
    <div >Home / Profile</div>
  </div>
</section>
<section class="pb-5">
  <div class="container">
    <div class="row mb-3">
      <div class="col">
          <div style="font-weight: bold;">Username</div>
          <div>{{user.username}}</div>
      </div>
      <div class="col">
        <div style="font-weight: bold;">Email Address</div>
        <div>{{user.email}}</div>
      </div>
    </div>
    <div class="mb-3">
      <div style="font-weight: bold;">Address</div>
      <div>{{user.first_name}}</div>
    </div>
    <div>
      <a href="{% url 'editprofile' user.id %}" class="btn btn-sm text-light" style="background-color: #E05300;">Edit Profile</a>
    </div>
  </div>
</section>
{% endblock message%}